<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="icon" type="image/svg+xml" href="../static/img/favicon.png"/>
  <title>Главная</title>
</head>
<body class="wrapper">

<header class="header">

  <div class="logo">
    TBH
  </div>

  <div>
    <form method="post" action="{% url 'logoutxz' %}">
      {% csrf_token %}
      <p class="subtitle">
        <button type="submit" class="link"
        >
          Выйти
        </button>
      </p>

    </form>
  </div>

</header>

<div class="menuBlock">
  <div class="menu">
    <h1 class="title">Задачи</h1>

    {% for el in task %}
      <div>
        <h1>{{ el.task }}</h1>
        <p>{{ el.taskAll }}</p>
        <p>{{ el.date }}</p>
        <form method="post">
          {% csrf_token %}
          <button class="do" type="submit" name="delete_task" value="{{ el.id }}">Выполнить</button>
        </form>
        
      </div>
    {% endfor %}
  </div>
</div>


</body>
</html>
