<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/registration.css">
  <title>Регистрация</title>
</head>
<body class="wrapper">

<div class="logo">
  TBH
</div>

<div class="menuBlock">
  <div class="menu">
    <h1 class="title">Регистрация</h1>

    <form class="form" method="post" action="">
      {% csrf_token %}
      <input class="input" type="text" name="email" placeholder="Email">
      <input class="input" type="password" name="password" placeholder="Пароль">
      <button class="button" type="submit">Регистрация</button>
    </form>

    <form class="form" action="{% url 'auth' %}">
      {% csrf_token %}
      <p class="subtitle">Есть аккант? <button class="link" type="submit">Войти</button></p>
    </form>
  </div>
</div>
</body>
</html>